
.btn {
    display: inline-block;
    padding: 1em 2em;
    font-size: 0.7rem;
    text-align: center;
    background-color: #264175;
    color: #fff;
    line-height: 1em;
    text-transform: inherit;
    text-decoration: none;
    border-radius: 1.6em;
    border: 0.1em solid #132d61;
    user-select: none;
}
.btn:hover {
    background-color: #fff;
    color: #132d61;
}

