.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input {
    width: 100%;
    padding: 1em;
    font-size: 0.9rem;
    border-radius: 1.6em;
}

.error {
    display: none;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #D3455B;
}
.error.show {
    display: block;
}
